[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/gentoo"]
	path = themes/gentoo
	url = https://github.com/d-kusk/hugo-gentoo-theme.git
